files
res
keys.py
keys
__pycache__
*.csv
*.sqlite3
*.db
*.jpg
*.jpeg
*.tar.gz
.env
project_env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
media/
img/
vscode/
chromedriver

camlocal.py

# mavlink files
unit_con/drone_control/logs/
unit_con/drone_control/terrain/
mav.*
eeprom.bin
