APScheduler==3.6.3
asgiref==3.3.4
certifi==2020.12.5
Django==3.2.3
numpy==1.20.3
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqtgraph==0.12.1
pyrtlsdr==0.2.92
pysdr==1.2
python-telegram-bot==13.5
pytz==2021.1
scipy==1.6.3
six==1.16.0
sqlparse==0.4.1
tornado==6.1
tqdm==4.62.3
tzlocal==2.1
