{% extends 'interface/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block title %}RNET{% endblock %}
{% block page_title %}Data{% endblock %}
{% block subtitle %}Details of all data gathered by wifi scans (and more tbc){% endblock %}
</head>
{% block content %}     

    <body>
        <div class="page-body">

            <div class = "ui stackable two column inverted divided grid">
                <div class="row">
                    <div class="column" id="table-column">
                        <div class="table-container">
                          {% for device in devices %}
                            <table class="ui celled inverted table">
                              <thead>
                                <tr>
                                  <th>{{device.mac}}</th>
                                  <th>{{device.make}}</th>
                                </tr>
                              </thead>
                              <thead>
                                <tr>
                                  <th>Sightings</th>
                                  <th>Power</th>
                                  <th>Channel</th>
                                  <th>Detected by</th>
                                </tr>
                              </thead>
      
                              <tbody>
                                {% for det in device.detections.all %} 
                                <tr class="profile-link">
                                  <td>{{det.time}}</td>
                                  <td>{{det.power}}</td>
                                  <td>{{det.channel}}</td>
                                  <td>{{det.detected_by}}</td>
                                </tr>
  
                              </tbody>
                              {% endfor %}
  
                            </table>
                            {% endfor %}
                          </div>
                    </div>

                    <div class="column" id="graph-column---maybe">

                    </div>
                </div>
            </div>






        </div>
        
    </body>
    

{% endblock %}
{% block script %}<script src="{% static 'scripts/js/profile.js' %}"></script>{% endblock %}