{% extends 'interface/base.html' %}
{% load static %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}RNET{% endblock %}
{% block page_title %}RNET System Control Interface{% endblock %}
{% block subtitle %}Control hub and units from this application{% endblock %}
</head>
{% block content %}     

        <div class="page-body">
            
            <div class="welcome-banner">
                <h3>RNET INTERFACE</h3>
                <p></p>           
                {% if request.user.profile.approved %}
                {% if not hub.activated == True %}  
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="submit" value="Submit" class="ui secondary button">Activate Hub</button>
                </form>
                {% else %}
                <button class="ui primary button">HUB ACTIVE</button>
                {% endif %}
                {% endif %}
                
            </div>

            
            {% if request.user.profile.approved %}
            <hr>
            <div class = "ui stackable three column inverted divided grid">

                <div class="row">

                    <div class="column">
                        <div class="table-container">
                          {% if active_units > 0 %}
                          <p class="ui inverted segment"><strong>Active units:</strong> {{active_units}}</p>
                          {% else %}
                          <p class="ui inverted segment"><strong>Active units:</strong> 0</p>
                          {% endif %}
                          <table class="ui celled inverted table">
    
                            <thead>
                              <tr>
                                <th>Unit</th>
                                <th>Type</th>
                                <th>Status</th>
                              </tr>
                            </thead>
    
                            <tbody>

                            {% for unit in units %}
                              <tr class="profile-link" onclick="goToNotice('{{notice.id}}')">
                                <td>{{unit.name}}</td>
                                <td>{{unit.type}}</td>
                                <td>{{unit.status}}</td>
                              </tr>
                              {% endfor %}

                            </tbody>

                          </table>
                            
                        </div>
                    </div>

                    <div class="column">
                        <div class="table-container">
                            {% if not hub.activated == True  %}
                            <img src="media/rnet_logo_trans.png">
                            {% else %}
                            <img src="media/rnet_logo_trans_activated.png">
                            {% endif %}
                            <p>RNET is a network of highly flexible devices capable of carrying out passive surveillance as well as active measures.</p>
                            <p>Each device securely connects back to the control "hub" over 4G, meaning it can be operated anywhere in the world. The devices are capable of sending images, streaming video, scanning the wifi spectrum and even attacking wifi networks.</p>
                            <p>Data collected by the radio frequency scanner is sent back to the hub for analysis on demand.</p>
                            <p>Devices can also be mounted on mobile platforms/drones like quadcopters, fixed wing aircraft, ground rovers or even water-borne platforms, where they interface with the flight controller to send telemetry and command signals over 4G.</p>
                        </div>
                    </div>


                    <div class="column">
                      <div class="table-container">
                        <p class="ui inverted segment"><strong>Recent Activity</strong></p>
                        <table class="ui celled inverted table">
  
                          <thead>
                            <tr>
                              <th>Unit</th>
                              <th>Time</th>
                              <th>Action</th>
                            </tr>
                          </thead>
  
                          <tbody>

                          {% for unit in units %}
                          {% for action in unit.activity.all %}
                            <tr class="profile-link" onclick="goToNotice('{{notice.id}}')">
                              <td>{{unit.name}}</td>
                              <td>{{action.time}}</td>
                              <td>{{action.detail}}</td>
                            </tr>
                            {% endfor %}
                            {% endfor %}

                          </tbody>

                        </table>
                          
                      </div>
                  </div>
                </div>

                

            </div>

            {% else %}
            <div class="unapproved-user">
              <h2>Your account is awaiting approval</h2>
            </div>



            {% endif %}
            
        </div>
        
    

{% endblock %}
{% block script %}<script src="{% static 'scripts/js/home.js' %}"></script>{% endblock %}