{% extends 'interface/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block title %}RNET{% endblock %}
{% block page_title %}{{unit.name}}{% endblock %}
{% block subtitle %}{{unit.type}}{% endblock %}
</head>
{% block content %}     

    <body>
        <div class="page-body">

            <div class = "ui stackable two column grid">

                <div class="column profile-info">


                        <h3>Profile Information</h3>

                        <div class="profilepic">
                            <p><strong>{{unit.name}} - {{unit.status}}</strong></p>
                            <img class="ui small circular image" src="{{ user.profile.image.url }}">
                            <p></p>
                        </div>

                        <hr>



                        <div class="user-media">

                            <h3>DATA</h3>


                            <h4>Pictures</h4>
                            {% if unit.photos.all|length > 0 %}


                            <div class="ui stackable three column grid container">

                                {% for photo in unit.photos.all %}

                                <div class="pic-column column">
                                    <div class="user-photo profile-link">
                                        <img id="userpic" class="ui small rounded image" src="{{photo.photo.url}}">
                                        <span><strong>{{photo.caption}}</strong> - {{photo.time}}</span>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>

                            {% else %}

                            <p>Unit has not uploaded any media</p>

                            {% endif %}

                            <h4>Wifi Scans</h4>
                            {% if unit.files.all|length > 0 %}


                            <div class="ui stackable three column grid container">

                                {% for file in unit.files.all %}

                                <div class="pic-column column">
                                    <div class="user-photo profile-link">
                                        <img id="userpic" class="ui small rounded image" src="https://i.ytimg.com/vi/NhtCv86PWmE/maxresdefault.jpg">
                                        <span><strong>Wifi Report</strong> - {{file.time}}</span>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>

                            {% else %}

                            <p>Unit has not uploaded any scan reports</p>

                            {% endif %}






                        </div>

                </div>

                <div class="column activity-info">
                    <h3>Activity History</h3>
                            {% if unit.activity.all|length > 0 %}


                            <div class="ui stackable one column grid container">

                                {% for action in unit.activity.all %}

                                <div class="column">
                                    <div class="profile-link">
                                        <span><strong>{{action.detail}}</strong> - {{action.time}}</span>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>

                            {% else %}

                            <p>No activity to report</p>

                            {% endif %}
                </div>

            </div>






        </div>
        
    </body>
    

{% endblock %}
{% block script %}<script src="{% static 'scripts/js/profile.js' %}"></script>{% endblock %}